.App-Bar {
  padding: 0px;
  justify-content: space-between !important;

  button.ant-btn:not(.connector) {
    height: auto;
    background: none;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: .05em;
    color: #000000;
    
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  padding: 10px 14px 10px 6px;

  margin-bottom: 0px;
}

.divider {
  width: 2px;
  height: 40px;
  margin-right: 14px;
}
.wallet-wrapper {
  padding-right: 0.7rem;
}
.app-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border-width: 0px;
  margin-right: 2.5rem;
}
.exchange-button-more2 {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 250px;
  height: 50px;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 30px !important;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff !important;
}

.exchange-button-more2:hover {
  color: #ffffff;
}


.app-bar-inner {
  display: flex;
  min-width: 50%;
  justify-content: center;
  position: relative;
  height: auto;
  .app-bar-item {
    cursor: pointer;
    padding: 0 30px;
    color: @tungsten-60;
    font-size: 18px;
    a {
      color: inherit;
    }
    &.active {
      color: white;
    }
  }
}
